[client]
#socket=/home/gengxy/mysql01/mysql-5.7.31-linux-glibc2.12-x86_64/data/mysql.sock
socket=/tmp/mysql.sock

[mysql]
default-character-set=utf8
#socket=/home/gengxy/mysql01/mysql-5.7.31-linux-glibc2.12-x86_64/data/mysql.sock
socket=/tmp/mysql.sock

[mysqld]
port=3306
user=mysql
#mysqld=/home/gengxy/mysql01/mysql-5.7.31-linux-glibc2.12-x86_64/bin/mysqld_safe
#log=/home/gengxy/mysql01/mysql-5.7.31-linux-glibc2.12-x86_64/mysqld.log
default-storage-engine=INNODB
character_set_server=utf8
basedir=/home/gengxy/mysql01/mysql-5.7.31-linux-glibc2.12-x86_64/
datadir=/home/gengxy/mysql01/mysql-5.7.31-linux-glibc2.12-x86_64/data/
#socket=/home/gengxy/mysql01/mysql-5.7.31-linux-glibc2.12-x86_64/data/mysql.sock
socket=/tmp/mysql.sock
log_error=/home/gengxy/mysql01/mysql-5.7.31-linux-glibc2.12-x86_64/data/mysql.err
pid-file=/home/gengxy/mysql01/mysql-5.7.31-linux-glibc2.12-x86_64/data/mysql.pid
log_bin=/home/gengxy/mysql01/mysql-5.7.31-linux-glibc2.12-x86_64/data/mysql-bin.log
server-id=1

